.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
  cursor: pointer;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  mat-icon {
    margin-right: 15px;
  }
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-sidenav-content {
  padding: 10px;
}

.navbar-user {
  float: right;
}

.navbar-user > .avatar {
  background-color: white;
  right: 0;
  color: black;
  border-radius: 50%;
  display: inline-block;
  vert-align: middle;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.navbar-user > label {
  margin-left: 10px;
  @media screen and (max-width: 706px) {
    display: none;
  }
}

.medium-navbar {
  width: 65%;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

mat-radio-group {
  margin-left: 5px;
}
