<!--
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color">
  <div>
    <mat-card class="cardPadding summarySection" >{{tile.grid_title}}</mat-card>
    <mat-card class="cardPadding" *ngFor="let param_name of tile.parameter_names; let i = index" >
      {{param_name + ':' + tile.parameter_values[i]}}

    </mat-card>
  </div>

  </mat-grid-tile>
</mat-grid-list>
-->

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile class="grid-room"
    *ngFor="let room of rooms"
    [colspan]="room.cols"
    [rowspan]="room.rows"
    [style.background]="room.color">
    <div class="grid-info">
      {{room.text}}

      <mat-radio-group [(ngModel)]="room.parametersKey">
        <mat-radio-button class="example-margin" value="Suelo">
          Suelo
        </mat-radio-button>
        &nbsp;
        <mat-radio-button class="example-margin" value="Ambiente">
          Ambiente
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="chips">
      <mat-chip-list [hidden]="room.parametersKey === 'Ambiente'">
        <mat-chip color="primary" *ngFor="let p of room.parameters1" [class.pulse]="p.updated">
          {{p.name}} {{p.value}}
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list [hidden]="room.parametersKey !== 'Ambiente'">
        <mat-chip *ngFor="let p of room.parameters2" [class.pulse]="p.updated" [class.chip-alert]="p.critic">
          {{p.name}} {{p.value}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>
