<div class="example-config">
  <mat-list *ngFor="let config of greenhouse_configs">
    <div class="config-listitem">
      <mat-list-item>{{config.name}}</mat-list-item><button mat-raised-button color="accent" matTooltip="Editar Configuracion" (click)="editConfig(config)" >Editar</button>
    </div>
    <mat-divider></mat-divider>
  </mat-list>

</div>

<button mat-fab color="accent" class="mat-fab mat-fab-bottom-right" matTooltip="Agregar una Configuracion" (click)="openAddDialog()">
  <mat-icon>add</mat-icon>
</button>


